/* Cover Style */

.cover {
  position: relative;
  background-color: whitesmoke;
  border: 0.5em solid whitesmoke;
}

#cover-image {
  position: relative;
  background-color: whitesmoke;
  object-fit: fill;
}

/* Content for the intro, includes title and subtitle */
.intro {
  position: sticky;
  display: flex;
  align-items: stretch;
  background-color: whitesmoke;
  border: 0.5em solid whitesmoke;
}

#title-container {
  display: flex;
  position: relative;
  flex-grow: 2;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 2vh;
  justify-content: flex-start;
}

#small-title {
  display: flex;
  position: relative;
  height: 100%;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  background-color: rgb(128, 37, 37);
}

.sub {
  position: sticky;
  display: flex;
  align-items: stretch;
  background-color: whitesmoke;
  border: 0.5em solid whitesmoke;
  height: 20vh;
}

#subtitle-1 {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  border: 0.5em solid whitesmoke;
}

#subtitle-2 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: right;
  width: 100%;
  border: 0.5em solid whitesmoke;
}

/* Text styling */
h1 {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 4rem;
  line-height: 1.2;
  margin: 0.25em;
}


h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  text-align: center;
  font-weight: 100;
  color: whitesmoke;
  line-height: 1.3em;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.6em;
  font-weight: 200;
  text-align: right;
  color: whitesmoke;
  margin: 0.25em;
}

h4 {
  font-family: Oswald, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 3em;
  background-color: whitesmoke;
  text-align: right;
  line-height: 1.1;
  padding-right: 0.25em;
  padding-bottom: 0.25em;
}



/* text boxes */
body {
  margin: 0;
  border-width: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Condensed Roboto', sans-serif;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1;
  margin-top: 0;
}

mark {
  background-color: transparent;
  color: black;
  line-height: 1.1;
}


/* Map Elements */
.map-container {
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 0;
  border: 0.5em solid whitesmoke;
  /* keep the map on the right side */
  width: 100%;
  margin-right: auto;
}


.map {
  position: relative;
  height: 100%;
  width: 100%;
  border: .5em solid whitesmoke;
}


/* Slide Elements */
.slide-section {
  position: relative;
  z-index: 100;
  pointer-events: none;
}

.slide {

  margin: 90vh 0 90vh auto;
  padding: 1rem;
  box-shadow: -0.5rem 0 1rem whitesmoke 20%;
  border-radius: 0.2rem;
  pointer-events: initial;
  width: 40%;
  z-index: 100;
}

/* .slide:first-child {
  margin-top: 0;
  background-color: rgba(245, 245, 245, 45%);  
  border: none;
  text-shadow: 0 5px rgba(196, 192, 192, 0.25);
} */

.slide:nth-child(2) {
  margin-top: 0; 
  text-align: justify;
  border: none;
  background-color: darkkhaki;
}

.slide:nth-child(3) {
  margin-top: 0;  
  text-align: justify;
  border: none;
  background-color: darkkhaki;

}

.slide:nth-child(4) {
  margin-top: 0;  
  text-align: justify;
  border: none;
  background-color: darkkhaki;

}

.slide:nth-child(5) {
  margin-top: 0;  
  text-align: justify;
  border: none;
  background-color: darkkhaki;
}

.slide:nth-child(6) {
  margin-top: 0;  
  text-align: justify;
  border: none;
  background-color: darkkhaki;
}

.slide:nth-child(7) {
  margin-top: 0;  
  text-align: justify;
  border: none;
  background-color: darkkhaki;
}


.slide:last-child {
  margin-top: 0;
  text-align: justify;
  border: none;
  background-color: darkkhaki;
}

.slide-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.5rem;

  width: 100%;
}

.slide-nav-button {
  transition: all 0.1s;

  padding: 0;
  margin: 1rem;
  width: 4rem;
  height: 3rem;
  border: 1px solid #888;
  border-radius: 0.25rem;

  background-color: #eee;
  font-size: 1.5em;
}

.slide-nav-button:hover {
  background-color: #444;
  color: #fff;
}

.slide-nav-select {
  min-width: 0;
}